.container h3,
.container p {
  text-align: center;
  padding: 10px;
}

.container h3 {
  margin-top: 5px;
  margin-bottom: 40px;
}

td,
th {
  /* table cells */
  padding: 10px;
}
table {
  padding: 20px;
}

table tbody td span {
  color: red;
}
button {
  color: rgb(0, 0, 0);
  background-color: white;
  margin: 25px auto;
  padding: 6px 12px;
  border-radius: 10px;
  display: block;
  width: 150px;
  font-size: 18px;
}

#book-ticket {
  border: none;
  padding: 0;
  color: blue;
  margin: 0;
}
